.maindiv {
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.logo {
	padding: 5px;
}

#search {
	margin: 0 5px 0 5px;
	padding: 5px;
	font-size: 16px;
    float: right;
}

.searches {
	float: right;
	margin-top: 10px;
}

#searchbutton {
	background-color: #003B6D;
	color: white;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
    float: right;
}

@media screen and (max-width: 600px) {
    .maindiv {
        flex-direction: column;
    }
    .searches {
        flex-direction: row;
    }
}

@media screen and (max-width: 320px) {
    .maindiv {
        flex-direction: column;
    }
    .searches {
        display: flex;
        flex-direction: row;
    }
}

.nav {
    margin-top: 20px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #003B6D
}

.nav a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: white;
    border-right: 2px solid white;
    height: 50px;
}

.nav a:first-of-type {
    border-left: 2px solid white;
}

.nav a:hover {
    background-color: #6699CC;
}

.header {
    background-image: url('../Images/rdog.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: -15px;
}

.breadcrumbs {
    padding: 15px 20px 0 4%;
}

.breadcrumbs a {
    text-decoration: underline;
    padding: 15px;
}