.maindiv {
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.logo {
	margin: 5px;
    border: 2px solid #003B6D;
    padding: 5px 5px 1px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    animation: logoAnimation 1s;
}

#search {
	margin: 0 5px 0 5px;
	padding: 5px;
	font-size: 16px;
    float: right;
    border: 2px solid #003B6D;
    border-radius: 5px;
}

.searches {
	float: right;
	margin: 10px;
}

#searchbutton {
	background-color: #003B6D;
	color: white;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
    float: right;
}

.header {
    background: linear-gradient(to right, #003B6D, #6699CC, #676767);
}

.nav {
    margin-top: 20px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 90%;
    background-color: #003B6D;
    border-top-right-radius: 100px;
}

.nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: white;
    border-right: 2px solid white;
    height: 50px;
}

.nav a:first-of-type {
    border-left: 2px solid white;
}

.nav a:hover {
    background-color: #6699CC;
}

.breadcrumbs {
    padding: 15px 20px 0 4%;
}

.breadcrumbs a {
    text-decoration: underline;
    padding: 15px;
}

.body {
    margin: 0 auto;
    width: 90%;
}

footer {
    display: flex;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
    background-color: #003B6D;
    color: white;
    height: 50px;
}

footer p {
    padding: 0 20px 0 20px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

h3 {
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #003B6D;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px
}

fieldset{
    padding: 20px;
    margin: 20px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #003B6D;
    background-color: rgba(255, 255, 255, 0.8);
}

legend {
    background-color: white;
    border: 2px solid #003B6D;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    margin: 0 auto;
}

.forms p {
    display: table-row;
}

.forms label {
    display: table-cell;
    padding-right: 10px;
}

.forms input {
    display: table-cell;
    margin: 10px 0 10px 0;
}

textarea {
    resize: vertical;
}

.submitButton {
    display: block;
    margin: 20px;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    color: black;
    margin-top: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #003B6D;
    border-radius: 5px;
}

.submitDiv {
    padding: 10px;
}

.nav-link.active {
    background-color: #6699CC;
}

.bottomDiv {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    border-top: 2px solid #003B6D;
}

.resourceDiv {
    display: flex;
    flex-direction: column;
    background-image: url("../Images/2dog.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
} 

.resourceDiv > * {
    flex: 1;
}

.resoruceBlocks {
    display: grid;
    grid-template-column: repeat(4, 1fr);
    gap: 10px;
}

.formdiv{
    display: flex;
    flex-direction: column;
    background-image: url("../Images/11consult.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
}

.formdiv > * {
    flex: 1;
}

.formdiv-p-span {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    border: 2px solid #003B6D;
    border-radius: 5px;
}

#formPhoto {
    margin: 5px 20px 20px 20px;
    height: 239px;
    width: 360px;
}

.pageLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageLinksDiv {
    padding: 10px;
}

.pageLinksDiv img {
    border: 2px solid #003B6D;
    border-radius: 5px;
}

.petInfo {
    display: flex;
    flex-direction: row;
}

.petInfoPic {
    border: 2px solid #003B6D;
    border-radius: 5px;
    width: 400px;
    height: auto;
    margin: 20px;
}

.petInfoContent {
    padding: 10px;
}

.petInfoContent h3 {
    text-align: center;
}

/* Below are the keyframes and associated classes*/

@keyframes logoAnimation {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);

    }
}



/* Below are the media queries */

@media screen and ( max-width: 1100px) {
    .pageLinks {
        flex-direction: column;
    }
    .bottomDiv {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .petInfo {
        flex-direction: column;
    }
    .petInfoPic {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .maindiv {
        flex-direction: column;
    }
    .searches {
        flex-direction: row;
    } 
    form {
        flex-direction: column;
    }
    .pageLinks {
        flex-direction: column;
    }
    .nav-menu {
        position: static;
        transform: none;
        left: auto;
    }
    .petInfo {
        flex-direction: column;
    }
    .petInfoPic {
        width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .maindiv {
        flex-direction: column;
    }
    .searches {
        flex-direction: row;
    }
    .bottomDiv {
        flex-direction: column;
    }  
    form {
        flex-direction: column;
    }
    .pageLinks {
        flex-direction: column;
    }
    .nav-menu {
        position: static;
        transform: none;
        left: fit;
    }
    .petInfo {
        flex-direction: column;
    }
    .petInfoPic {
        width: 80%;
    }
}















